{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div id="react-app"></div>

        <div className="p-4 bg-blue-500 text-white">
            Hello Tailwind CSS
        </div>

{% endblock %}
