{% extends 'base.html.twig' %}

{% block title %}Compléter une tâche{% endblock %}
{% block body %}
    <div>complete.html.twig</div>
    <div id="react-header"></div>
    <div id="react-task-complete"></div>
{% endblock %}