{% extends 'base.html.twig' %}

{% block title %}Créer une tâche{% endblock %}

{% block body %}
    <div>create.html.twig</div>
    <div id="react-header"></div>
    <div id="react-task-form"></div>
{% endblock %}