{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
    <div>index.html.twig</div>
    <div id="react-header"></div>
    <div id="react-task-list"></div>
    <div id="react-task-form"></div>
{% endblock %}