.bg-primary-oge {
    background-color: #FF7900;
}

.bg-secondary-oge {
    background-color: #000000;
}

.bg-stantard-oge {
    background-color: #FFFFFF;
}

.bg-muted-oge {
    background-color: #D3D3D3;
}



